@charset "UTF-8";
@import url('https://use.typekit.net/jka1vam.css');

html, body, h1, h2, h3, h4, h5, h6, p, ol, ul, li, dl, dd, th, td, caption, pre, code, address, form, fieldset, blockquote {
  font-size: 100%;
  padding: 0;
  margin: 0;
  font-family: brandon-grotesque, serif;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

html {
  min-height: 100%;
  position: relative;
  ‑webkit‑text‑size‑adjust: 100%;
  ‑moz‑text‑size‑adjust: 100%;
  -ms-text-size-adjust: 100%;
  scroll-behavior: smooth;
}

body {
  height: 100%;
}

body {
  text-rendering: geometricPrecision;
  font-family: sans-serif;
  line-height: 1;
}

code, kbd, pre, samp {
  font-family: monospace;
  font-size: 13px;
}

ol {
  list-style-type: decimal;
}

ul {
  list-style-type: circle;
}

ol, ul {
  list-style-position: outside;
  margin-left: 0;
  padding-left: 0;
}

ol ol, ul ul {
  font-size: 100%;
}

a {
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
}

img {
  -webkit-user-drag: none;
}

img, fieldset, iframe {
  border: 0;
}

input, textarea {
  outline: 0;
  border: 0;
}

select, form input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}

textarea {
  resize: none;
  overflow: hidden;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

table td, table th {
  padding: 0;
  background-clip: padding-box;
}

@-webkit-keyframes spin-forward {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(540deg);
  }
}

@-moz-keyframes spin-forward {
  0% {
    -moz-transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(540deg);
  }
}

@-o-keyframes spin-forward {
  0% {
    -o-transform: rotate(0deg);
  }

  100% {
    -o-transform: rotate(540deg);
  }
}

@keyframes spin-forward {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(540deg);
  }
}

@-webkit-keyframes spin-backward {
  0% {
    -webkit-transform: rotate(540deg);
  }

  100% {
    -webkit-transform: rotate(0deg);
  }
}

@-moz-keyframes spin-backward {
  0% {
    -moz-transform: rotate(540deg);
  }

  100% {
    -moz-transform: rotate(0deg);
  }
}

@-o-keyframes spin-backward {
  0% {
    -o-transform: rotate(540deg);
  }

  100% {
    -o-transform: rotate(0deg);
  }
}

@keyframes spin-backward {
  0% {
    transform: rotate(540deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

h1 {
  font-size: 25px;
}

h2 {
  font-size: 22px;
}

h3 {
  font-size: 19px;
}

h4 {
  font-size: 17px;
}

h5 {
  font-size: 15px;
}

h6 {
  font-size: 13px;
}

h1, h2, h3, h4, h5, h6 {
  padding-bottom: 10px;
}

p, ul, ol, table, label, input {
  font-size: 15px;
  line-height: 25px;
}

blockquote p {
  font-size: 23px;
  line-height: 32px;
}

hr {
  border: 0;
  height: 1px;
  background: #313438;
  padding: 0 !important;
  margin-bottom: 25px;
}

* {
  padding-bottom: 30px;
}

a, img, li, em, strong, blockquote {
  padding-bottom: 0;
}

ol li {
  margin-left: 22px;
}

ul li {
  margin-left: 19px;
}

button.open-merlin {
  padding: 12px 20px;
  border-radius: 7px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 15px;
  font-weight: 600;
}

button.open-merlin:hover {
  opacity: 0.7;
}

.btn {
  background-color: #436D9F;
  color: white;
  border-color: transparent;
  margin-top: 1.2rem;
  border-radius: 0;
  padding: 0.375rem 1.75rem;
}

.btn:hover {
  background-color: #1a4980;
}

.cpmtable {
  max-width: 100%;
  overflow: hidden;
  margin-bottom: 30px;
}

.cpmtable th, .cpmtable tr, .cpmtable td {
  padding-bottom: 10px;
}

.cpmtable td {
  padding-right: 30px;
}

iframe {
  max-width: 100%;
}

img {
  -webkit-user-drag: auto;
  max-width: 100%;
  height: auto;
}

img.center-align {
  display: block;
  margin: 0 auto;
}

img.left-align {
  float: left;
  max-width: 50%;
  margin: 5px 10px 10px 0;
}

img.right-align {
  float: right;
  max-width: 50%;
  margin: 5px 0 10px 10px;
}

p a:hover {
  text-decoration: underline;
}

p *, table * {
  font-size: 100%;
}

input, fieldset {
  padding-bottom: 0;
}

#sitemap ul {
  padding-bottom: 0;
}

#map * {
  padding-bottom: 0 !important;
}

#map img {
  max-width: none;
}

.videoinner.left-align {
  float: left;
  margin-right: 10px;
}

.videoinner.right-align {
  float: right;
  margin-left: 10px;
}

.videoinner.center-align .video-js {
  margin: 0 auto;
  text-align: left;
}

[data-width="50"] .vjs-progress-control {
  left: 22%;
  width: 35%;
}

[data-width="50"] .vjs-duration-display {
  right: 105px;
}

[data-width="50"] .vjs-mute-control {
  right: 99px;
}

[data-width="75"] .vjs-progress-control {
  width: 47%;
}

[data-width="100"] .vjs-current-time {
  margin-top: 2px;
  margin-left: 15px;
}

[data-width="100"] .vjs-progress-control {
  left: 105px;
  width: 53%;
}

[data-width="100"] .vjs-duration-display {
  margin-top: 2px;
  right: 170px;
}

.icon-arrow-left:before,
.icon-arrow-right:before,
.icon-bible:before,
.icon-cloud:before,
.icon-download:before,
.icon-location:before,
.icon-play:before,
.icon-plus:before,
.icon-rotator-left:before,
.icon-rotator-right:before,
.icon-rss:before,
.icon-search:before,
.icon-share:before {
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  text-decoration: none;
  line-height: 1em;
  -webkit-font-smoothing: antialiased;
  text-rendering: geometricPrecision;
  font-family: 'cpmsocial';
}

.icon-calendar:before,
.icon-minus:before,
.icon-music:before {
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  text-decoration: none;
  line-height: 1em;
  -webkit-font-smoothing: antialiased;
  text-rendering: geometricPrecision;
  font-family: 'icomoon';
}

.icon-arrow-left:before {
  content: '\e801';
}

.icon-arrow-right:before {
  content: '\e80e';
}

.icon-bible:before {
  content: '\e817';
}

.icon-calendar:before {
  content: "\e606";
}

.icon-cloud:before {
  content: '\e819';
}

.icon-download:before {
  content: '\e810';
}

.icon-location:before {
  content: '\f031';
}

.icon-minus:before {
  content: "\e603";
}

.icon-music:before {
  content: "\e602";
}

.icon-play:before {
  content: '\e812';
}

.icon-plus:before {
  content: '\e816';
}

.icon-rotator-left:before {
  content: '\e814';
}

.icon-rotator-right:before {
  content: '\e815';
}

.icon-rss:before {
  content: '\e818';
}

.icon-search:before {
  content: '\e811';
}

.icon-share:before {
  content: '\e802';
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
}

.slick-track:before,
.slick-track:after {
  display: table;
  content: '';
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

[dir='rtl'] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

/* Arrows */
.slick-prev,
.slick-next {
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -ms-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
  -webkit-border-radius: 54px;
  -moz-border-radius: 54px;
  -ms-border-radius: 54px;
  -o-border-radius: 54px;
  border-radius: 54px;
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 54px;
  height: 54px;
  margin-top: -54px;
  padding: 0;
  cursor: pointer;
  color: transparent;
  background: transparent;
  border: none;
  outline: none;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: .25;
}

.slick-prev:before,
.slick-next:before {
  -webkit-border-radius: 54px;
  -moz-border-radius: 54px;
  -ms-border-radius: 54px;
  -o-border-radius: 54px;
  border-radius: 54px;
  font-family: 'icomoon';
  font-size: 30px;
  background: #000;
  color: #fff;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  text-decoration: none;
  line-height: 1em;
  -webkit-font-smoothing: antialiased;
  text-rendering: geometricPrecision;
  text-align: center;
  height: 54px;
  width: 54px;
  display: block;
  line-height: 54px;
}

.slick-prev {
  left: 0;
}

[dir='rtl'] .slick-prev {
  right: 0;
  left: auto;
}

.slick-prev:before {
  padding-right: 3px;
  content: "\e607";
}

[dir='rtl'] .slick-prev:before {
  padding-left: 3px;
  content: "\e609";
}

.slick-next {
  right: 0;
}

[dir='rtl'] .slick-next {
  right: auto;
  left: 0;
}

.slick-next:before {
  padding-left: 3px;
  content: "\e609";
}

[dir='rtl'] .slick-next:before {
  padding-right: 3px;
  content: "\e607";
}

/* Dots */
.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  display: block;
  width: 100%;
  padding: 0;
  list-style: none;
  text-align: center;
}

.slick-dots li {
  cursor: pointer;
  position: relative;
  display: inline-block;
  width: 12px;
  height: 12px;
  margin: 0 5px;
  padding: 0;
}

.slick-dots li button {
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -ms-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 0;
  line-height: 0;
  display: block;
  width: 12px;
  height: 12px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: black;
}

.slick-dots li.slick-active button {
  background: #fff;
}

.slick-dots li button:hover,
.slick-dots li button:focus {
  cursor: pointer;
  outline: none;
}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 1;
}

body {
  padding: 0;
  overscroll-behavior: none;
}

a {
  transition: 0.25s ease-in-out;
}

header {
  display: block;
  position: relative;
}

header #banner-wrap>.search-box {
  display: none;
  position: relative;
  width: 100%;
  height: auto;
  background: white;
  top: 0;
  height: 111px;
  z-index: 9;
}

header #banner-wrap>.search-box #search {
  padding-left: 56px;
  display: inline-block;
  position: relative;
  width: 100%;
  box-sizing: border-box;
}

header #banner-wrap>.search-box #search .search-input {
  font-family: "brandon-grotesque", serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 21px;
  letter-spacing: 3px;
  width: 75%;
  margin-top: 43px;
}

header #banner-wrap>.search-box #search .search-submit {
  font-family: "brandon-grotesque", sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 17px;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 19px 38px;
  float: right;
  margin-right: 43px;
  margin-top: 24px;
}

header #banner-wrap>.search-box a.close {
  display: inline-block;
  width: 25px;
  height: 25px;
  float: right;
  margin-right: 43px;
  margin-top: 40px;
}

header .top-nav {
  display: block;
  position: absolute;
  width: 100%;
  height: auto;
  z-index: 99;
}

header #head-wrap {
  position: absolute;
  width: 100%;
  height: 160px;
}

header #head-wrap #top-container {
  display: block;
  position: absolute;
  top: 0;
  width: 93%;
  max-width: 1220px;
  margin: 0 auto;
  left: 0;
  right: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0;
  align-items: center;
  position: absolute;
  grid-template-columns: 1fr 278px 1fr;
  align-items: start;
}

@media (max-width: 1365px) {
  header #head-wrap #top-container {
    grid-template-columns: 1fr 235px 1fr;
  }
}

@media (max-width: 1024px) {
  header #head-wrap #top-container {
    grid-template-columns: 1fr 238px 1fr;
  }
}

header .header-btns {
  display: block;
  position: relative;
  top: 0;
  /* left: 0; */
  z-index: 2;
  /* width: 50%; */
  padding-bottom: 18px;
  /* margin-left: -139px; */
  text-align: left;
}

@media (max-width: 1365px) {
  header .header-btns {
    padding-bottom: 19px;
  }
}

@media (max-width: 1024px) {
  header .header-btns {
    display: none;
  }
}

@media (max-width: 768px) {
  header .header-btns {
    display: none;
  }
}

header .header-btns li {
  display: inline-block;
  font-size: 11px;
  font-family: "essonnes-text", serif;
  font-weight: 600;
  font-style: italic;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-top: 20px;
}

header .header-btns li a:hover {
  text-decoration: underline;
}

header .header-btns li+li {
  margin-left: 45px;
}

@media (max-width: 1700px) {
  header .header-btns li+li {
    margin-left: 3.3vw;
  }
}

header .logo-wrapper {
  display: block;
  position: relative;
  width: 276px;
  height: 160px;
  /* left: 0; */
  /* right: 0; */
  /* margin: 0 auto; */
  z-index: 2;
  top: 0;
  align-self: center;
}

@media (max-width: 1365px) {
  header .logo-wrapper {
    width: 233px;
    height: 155px;
  }
}

@media (max-width: 1024px) {
  header .logo-wrapper {
    position: absolute;
    left: 0;
    margin: 0 auto;
    right: 0;
  }
}

@media (max-width: 768px) {
  header .logo-wrapper {
    position: absolute;
    left: 0;
    margin: 0 auto;
    right: 0;
  }
}

header .logo-wrapper a.logo {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 172px;
}

@media (max-width: 1365px) {
  header .logo-wrapper a.logo {
    max-width: 160px;
  }
}

@media (max-width: 1024px) {
  header .logo-wrapper a.logo {
    max-width: 212px;
  }
}

@media (max-width: 768px) {
  header .logo-wrapper a.logo {
    max-width: 178px;
  }
}

header .logo-wrapper a.logo:hover {
  opacity: 0.7;
}

header nav#social {
  display: block;
  position: relative;
  /* top: 0; */
  /* right: 0; */
  z-index: 3;
  /* width: 50%; */
  padding-bottom: 18px;
  /* margin-right: -139px; */
  text-align: right;
  width: auto;
}

@media (max-width: 1365px) {
  header nav#social {
    padding-bottom: 19px;
  }
}

@media (max-width: 1024px) {
  header nav#social {
    display: none;
  }
}

header nav#social a {
  font-size: 16px;
  line-height: 11px;
  margin-top: 20px;
  margin-left: 26px;
}

header nav#social a:before {
  font-size: 16px;
  line-height: 11px;
  width: 16px;
}

header .nav-wrapper.full {
  display: block;
  position: absolute;
  margin-top: 93px;
  z-index: 3;
  width: 100%;
}

@media (max-width: 1024px) {
  header .nav-wrapper.full {
    display: none;
  }
}

header .nav-wrapper.full ul#nav {
  position: relative;
  width: 90%;
  max-width: 1278px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 24px;
}

@media (max-width: 1700px) {
  header .nav-wrapper.full ul#nav {
    max-width: 1183px;
  }
}

@media (max-width: 1365px) {
  header .nav-wrapper.full ul#nav {
    grid-gap: 0;
  }
}

@media (max-width: 1365px) {
  header .nav-wrapper.full ul#nav {
    width: 93%;
  }
}

header .nav-wrapper.full ul#nav>li>a {
  padding-bottom: 19px;
}

header .nav-wrapper.full ul#nav ul {
  display: none;
  position: absolute;
  padding: 17px 0;
  margin-top: 21px;
  margin-left: -15px;
  transition: 0.25s ease-in-out;
}

header .nav-wrapper.full ul#nav ul li {
  display: block;
  text-align: left;
  margin: 0 !important;
  width: 180px;
  padding: 0 17px;
  max-width: 100%;
}

header .nav-wrapper.full ul#nav ul li a {
  display: block;
  line-height: 27px;
  padding-bottom: 5px;
}

header .nav-wrapper.full ul#nav ul ul {
  display: none;
  position: absolute;
  right: -100%;
  margin-top: -45px;
}

header .nav-wrapper.full ul#nav li {
  display: inline-block;
  font-family: "essonnes-text", serif;
  font-weight: 400;
  font-size: 22px;
  font-style: italic;
  text-align: center;
}

@media (max-width: 1365px) {
  header .nav-wrapper.full ul#nav li {
    font-size: 19px;
  }
}

@media (max-width: 1700px) {
  header .nav-wrapper.full ul#nav li {
    font-size: 20px;
  }
}

header .nav-wrapper.full ul#nav li:hover>ul {
  display: block;
}

header .nav-wrapper.full ul#nav li.placeholder {
  width: 278px;
  visibility: hidden;
}

header .nav-wrapper.full ul#nav li.filler {
  width: 8%;
  visibility: hidden;
}

header .open-wrap {
  display: none;
}

@media (max-width: 1024px) {
  header .open-wrap {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 37px;
    height: 28px;
    margin-top: 31.5px;
    margin-right: 34px;
  }

  header .open-wrap.close {
    width: 31px;
    height: 31px;
  }
}

@media (max-width: 768px) {
  header .open-wrap {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 37px;
    height: 28px;
    margin-top: 19px;
    margin-right: 23px;
  }
}

header .open-wrap a.nav-open {
  display: block;
  position: relative;
  width: 100;
  height: 100%;
  z-index: 9999;
}

header .open-shiv {
  display: none;
}

header .mobile-nav-wrapper {
  display: none;
  min-height: 100vh;
}

@media (max-width: 1024px) {
  header .mobile-nav-wrapper {
    width: 50%;
    height: auto;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 999;
    box-sizing: border-box;
    padding-left: 34px;
  }
}

@media (max-width: 768px) {
  header .mobile-nav-wrapper {
    width: 100%;
  }
}

header .mobile-nav-wrapper .search-box {
  box-sizing: border-box;
  width: 237px;
  height: 48px;
  margin-top: 23px;
  margin-bottom: 40px;
}

@media (max-width: 1024px) {
  header .mobile-nav-wrapper .search-box {
    display: block;
    position: relative;
  }
}

header .mobile-nav-wrapper .search-box #search {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

header .mobile-nav-wrapper .search-box #search .search-input {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding-left: 20px;
  font-family: "essonnes-text", serif;
  font-weight: 400;
  font-style: italic;
  font-size: 16px;
}

header .mobile-nav-wrapper .mobile-header-btns {
  padding-bottom: 15px;
  margin-left: 18px;
}

header .mobile-nav-wrapper .mobile-header-btns li {
  font-family: "essonnes-text", serif;
  font-weight: 700;
  font-size: 14px;
  font-style: italic;
  text-transform: uppercase;
  list-style: none;
  letter-spacing: 1px;
  line-height: 20px;
  padding-bottom: 12px;
}

header .mobile-nav-wrapper #nav {
  margin-top: 31px;
  margin-left: 18px;
}

header .mobile-nav-wrapper #nav li {
  list-style: none;
  font-family: "brandon-grotesque", sans-serif;
  font-weight: 500;
  font-size: 22px;
  text-transform: uppercase;
  padding-bottom: 41px;
}

header .mobile-nav-wrapper #nav li ul {
  padding-top: 24px;
}

header .mobile-nav-wrapper #nav li ul li {
  text-transform: none;
  padding-bottom: 26px;
  font-size: 18px;
}

header .mobile-nav-wrapper #nav li ul li:last-child {
  padding-bottom: 0;
}

header .mobile-nav-wrapper #nav li ul li ul {
  padding-left: 25px;
}

header .mobile-nav-wrapper #nav li ul li ul li {
  padding-bottom: 15px;
}

header .mobile-nav-wrapper #nav li ul li ul li:last-child {
  padding-bottom: 0;
}

#subpage.with-default #content .wrapper .banner-title h1 {
  font-family: "essonnes-text", serif;
  font-weight: 600;
  font-style: italic;
  font-size: 72px;
}

@media (max-width: 1365px) {
  #subpage.with-default #content .wrapper .banner-title h1 {
    font-size: 60px;
  }
}

@media (max-width: 1024px) {
  #subpage.with-default #content .wrapper .banner-title h1 {
    font-size: 60px;
  }
}

@media (max-width: 768px) {
  #subpage.with-default #content .wrapper .banner-title h1 {
    font-size: 39px;
    font-style: italic;
  }
}

footer {
  padding-bottom: 50px;
}

footer .footer-links {
  font-size: 0;
  width: 100%;
  display: block;
  position: relative;
  margin: 0 auto;
  padding: 38px 0;
  text-align: center;
}

@media (max-width: 1365px) {
  footer .footer-links {
    padding: 42px 0;
  }
}

@media (max-width: 768px) {
  footer .footer-links {
    padding: 43px 0;
  }
}

@media (max-width: 768px) {
  footer .footer-links {
    display: none;
  }
}

footer .footer-links li {
  list-style: none;
  display: inline-block;
  font-family: "brandon-grotesque", sans-serif;
  font-weight: 500;
  font-size: 20px;
}

@media (max-width: 1024px) {
  footer .footer-links li {
    font-size: 19px;
  }
}

footer .footer-links li+li {
  margin-left: 46px;
}

@media (max-width: 1024px) {
  footer .footer-links li+li {
    margin-left: 32px;
  }
}

footer .btm-info .wrapper {
  display: block;
  position: relative;
  width: 83%;
  max-width: 1214px;
  margin: 0 auto;
}

@media (max-width: 1365px) {
  footer .btm-info .wrapper {
    width: 93%;
  }
}

@media (max-width: 1024px) {
  footer .btm-info .wrapper {
    display: none;
  }
}

@media (max-width: 768px) {
  footer .btm-info .wrapper {
    display: none;
  }
}

footer .btm-info .wrapper .contact-info {
  display: inline-block;
  vertical-align: top;
  max-width: 33%;
  margin-top: 60px;
}

footer .btm-info .wrapper .contact-info p, footer .btm-info .wrapper .contact-info a {
  font-family: "essonnes-text", serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 31px;
}

footer .btm-info .wrapper .contact-info a {
  transition: 0.25s ease-in-out;
}

footer .btm-info .wrapper .contact-info a:hover {
  text-decoration: underline;
}

footer .btm-info .wrapper a.footer-logo {
  display: inline-block;
  position: absolute;
  vertical-align: top;
  height: 114px;
  width: 21%;
  margin: 0 auto;
  top: 0;
  margin-top: 35px;
  left: 0;
  right: 0;
}

footer .btm-info .wrapper nav#social {
  display: inline-block;
  vertical-align: top;
  max-width: 33%;
  float: right;
  margin-top: 50px;
}

@media (max-width: 768px) {
  footer .btm-info .wrapper nav#social {
    position: absolute;
    max-width: 100%;
    width: 100%;
    height: auto;
    float: none;
    top: 0;
    margin-top: 48px;
    text-align: center;
  }
}

footer .btm-info .wrapper nav#social a {
  font-size: 11px;
  line-height: 11px;
  margin-top: 20px;
  width: 55px;
  height: 55px;
  margin-left: 15px;
}

footer .btm-info .wrapper nav#social a:before {
  text-align: center;
  vertical-align: middle;
  position: relative;
  margin: 0 auto;
  line-height: 58px;
}

footer .btm-info .mobile-wrapper {
  display: none;
}

@media (max-width: 1024px) {
  footer .btm-info .mobile-wrapper {
    display: block;
  }
}

footer .btm-info .mobile-wrapper .contact-info {
  display: block;
  vertical-align: top;
  max-width: 60%;
  text-align: center;
  margin: 23px auto 0 auto;
}

footer .btm-info .mobile-wrapper .contact-info p, footer .btm-info .mobile-wrapper .contact-info a {
  font-family: "essonnes-text", serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 33px;
}

@media (max-width: 768px) {
  footer .btm-info .mobile-wrapper .contact-info p, footer .btm-info .mobile-wrapper .contact-info a {
    font-size: 14px;
    line-height: 28px;
  }
}

footer .btm-info .mobile-wrapper .contact-info a {
  transition: 0.25s ease-in-out;
}

footer .btm-info .mobile-wrapper .contact-info a:hover {
  text-decoration: underline;
}

footer .btm-info .mobile-wrapper .contact-info .copyright {
  display: inline-block;
}

footer .btm-info .mobile-wrapper .contact-info .cpm {
  display: inline-block;
}

footer .btm-info .mobile-wrapper a.footer-logo {
  display: block;
  position: relative;
  vertical-align: top;
  height: 136px;
  width: 191px;
  max-width: 75%;
  margin: 0 auto;
  margin-top: 16px;
}

@media (max-width: 768px) {
  footer .btm-info .mobile-wrapper a.footer-logo {
    margin-top: 3px;
  }
}

footer .btm-info .mobile-wrapper nav#social {
  display: block;
  position: relative;
  vertical-align: top;
  max-width: 100%;
  margin-top: 48px;
  text-align: center;
}

footer .btm-info .mobile-wrapper nav#social a {
  font-size: 11px;
  line-height: 11px;
  margin-top: 20px;
  width: 42px;
  height: 42px;
}

footer .btm-info .mobile-wrapper nav#social a+a {
  margin-left: 12px;
}

footer .btm-info .mobile-wrapper nav#social a:before {
  margin: 0 auto;
  margin-top: 9px;
}

#home header {
  height: 100vh;
}

#home header #banner-wrap {
  height: 100%;
}

#home header #banner-wrap .slick-slider {
  height: 100vh;
  margin-bottom: 0;
}

#home header #banner-wrap .slick-slider .slick-track, #home header #banner-wrap .slick-slider .slick-list {
  height: 100%;
}

#home header #banner-wrap .slick-slider .slick-track img, #home header #banner-wrap .slick-slider .slick-list img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

#home header #banner {
  display: block;
  position: relative;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

#home header #banner img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

#home header #banner div#video-banner {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
}

#home header #banner div#video-banner video {
  object-fit: cover;
  min-width: 100%;
  height: 100%;
}

#home header .banner-text {
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  z-index: 3;
}

@media (max-width: 1700px) {
  #home header .banner-text {
    margin-top: 29px;
  }
}

#home header .banner-text p {
  font-family: "essonnes-text", serif;
  font-weight: 600;
  font-size: 72px;
  line-height: 83px;
  margin: 0 auto;
  max-width: 60%;
  text-align: center;
  letter-spacing: -1px;
}

@media (max-width: 1700px) {
  #home header .banner-text p {
    max-width: 70%;
    line-height: 84px;
  }
}

@media (max-width: 1024px) {
  #home header .banner-text p {
    font-size: 52px;
    line-height: 75px;
  }
}

@media (max-width: 768px) {
  #home header .banner-text p {
    font-size: 30px;
    line-height: 43px;
    max-width: 90%;
  }
}

#home header #banner-link {
  display: block;
  position: absolute;
  bottom: 0;
  margin-bottom: 116px;
  z-index: 99;
  width: 100%;
}

@media (max-width: 1024px) {
  #home header #banner-link {
    margin-bottom: 87px;
  }
}

@media (max-width: 768px) {
  #home header #banner-link {
    margin-bottom: 94px;
  }
}

#home header #banner-link p {
  text-align: center;
  max-width: 25%;
  margin: 0 auto;
  font-family: "brandon-grotesque", sans-serif;
  font-weight: 800;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

@media (max-width: 768px) {
  #home header #banner-link p {
    max-width: 30%;
  }
}

#home header #banner-link p a {
  display: inline-block;
  position: relative;
}

#subpage header {
  height: 511px;
}

@media (max-width: 1365px) {
  #subpage header {
    height: 476px;
  }
}

@media (max-width: 1024px) {
  #subpage header {
    height: 416px;
  }
}

@media (max-width: 768px) {
  #subpage header {
    height: 369px;
  }
}

#subpage header #banner-wrap {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
}

#subpage header #banner-wrap #banner {
  display: block;
  position: absolute;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#subpage header #banner-wrap .banner-title {
  display: block;
  position: relative;
  text-align: center;
  top: 50%;
  z-index: 9;
}

#subpage header #banner-wrap .banner-title h1 {
  font-family: "essonnes-text", serif;
  font-weight: 600;
  font-style: italic;
  font-size: 72px;
}

@media (max-width: 1365px) {
  #subpage header #banner-wrap .banner-title h1 {
    font-size: 60px;
  }
}

@media (max-width: 1024px) {
  #subpage header #banner-wrap .banner-title h1 {
    font-size: 60px;
  }
}

@media (max-width: 768px) {
  #subpage header #banner-wrap .banner-title h1 {
    font-size: 39px;
  }
}

#subpage .media:after {
  content: "";
  display: table;
  clear: both;
}

#subpage #content {
  overflow: hidden;
}

#subpage #content .wrapper {
  display: flex;
  position: relative;
  padding: 45px 0 0 0;
  margin: 0 auto;
}

#subpage #content .wrapper .side-nav {
  max-width: 300px;
  display: inline-table;
  position: relative;
  width: 24%;
  vertical-align: top;
}

@media (max-width: 1365px) {
  #subpage #content .wrapper .side-nav {
    max-width: 18%;
  }
}

@media (max-width: 768px) {
  #subpage #content .wrapper .side-nav {
    display: none;
  }
}

@media (max-width: 320px) {
  #subpage #content .wrapper .side-nav {
    display: none;
  }
}

#subpage #content .wrapper .side-nav ul#side_nav li {
  list-style: none;
  font-family: "brandon-grotesque", sans-serif;
  font-weight: 600;
  font-size: 19px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

@media (max-width: 1365px) {
  #subpage #content .wrapper .side-nav ul#side_nav li {
    font-size: 17px;
  }
}

@media (max-width: 1024px) {
  #subpage #content .wrapper .side-nav ul#side_nav li {
    font-size: 15px;
  }
}

#subpage #content .wrapper .side-nav ul#side_nav li ul.side_nav_level1 {
  margin-top: 30px;
}

#subpage #content .wrapper .side-nav ul#side_nav li ul.side_nav_level1 li {
  font-family: "essonnes-text", serif;
  font-weight: 600;
  font-size: 19px;
  font-style: italic;
  text-transform: none;
  letter-spacing: 1px;
  padding-bottom: 36px;
}

@media (max-width: 1024px) {
  #subpage #content .wrapper .side-nav ul#side_nav li ul.side_nav_level1 li {
    font-size: 17px;
  }
}

#subpage #content .wrapper .side-nav ul#side_nav li ul.side_nav_level1 li a {
  padding-bottom: 14px;
}

#subpage #content .wrapper .side-nav ul#side_nav li ul.side_nav_level1 li ul.side_nav_level2 {
  margin-top: 18px;
}

#subpage #content .wrapper .side-nav ul#side_nav li ul.side_nav_level1 li ul.side_nav_level2 li {
  font-size: 17px;
  font-weight: 400;
  padding-left: 10px;
  padding-bottom: 17px;
}

#subpage #content .wrapper .side-nav ul#side_nav li ul.side_nav_level1 li ul.side_nav_level2 li:last-child {
  padding-bottom: 0;
}

@media (max-width: 1024px) {
  #subpage #content .wrapper .side-nav ul#side_nav li ul.side_nav_level1 li ul.side_nav_level2 li {
    font-size: 15px;
  }
}

#subpage #content .wrapper .side-nav ul#side_nav li ul.side_nav_level1 li ul.side_nav_level2 li a {
  padding-bottom: 17px;
}

#subpage #content .wrapper .cms-output.with-sidenav {
  max-width: 897px;
  display: inline-table;
  position: relative;
  width: 75%;
}

@media (max-width: 1024px) {
  #subpage #content .wrapper .cms-output.with-sidenav {
    width: 100%;
  }
}

@media (max-width: 768px) {
  #subpage #content .wrapper .cms-output.with-sidenav {
    width: 100%;
  }
}

#subpage #content .wrapper {
  margin-top: 8px;
}

#subpage #content .wrapper button {
  font-family: "brandon-grotesque", serif;
  font-weight: 600;
}

#subpage #content .wrapper p, #subpage #content .wrapper li, #subpage #content .wrapper ul, #subpage #content .wrapper td {
  font-family: "brandon-grotesque", serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
}

@media (max-width: 1365px) {
  #subpage #content .wrapper p, #subpage #content .wrapper li, #subpage #content .wrapper ul, #subpage #content .wrapper td {
    font-size: 17px;
    line-height: 1.5;
  }
}

@media (max-width: 1024px) {
  #subpage #content .wrapper p, #subpage #content .wrapper li, #subpage #content .wrapper ul, #subpage #content .wrapper td {
    font-size: 16px;
    line-height: 1.5;
  }
}

@media (max-width: 768px) {
  #subpage #content .wrapper p, #subpage #content .wrapper li, #subpage #content .wrapper ul, #subpage #content .wrapper td {
    font-size: 16px;
    line-height: 1.5;
  }
}

#subpage #content .wrapper ol, #subpage #content .wrapper ul {
  list-style-position: inside;
}

#subpage #content .wrapper table {
  border-collapse: collapse;
  border-spacing: 0;
  display: block;
}

#subpage #content .wrapper table tbody {
  display: block;
}

#subpage #content .wrapper table td, #subpage #content .wrapper table th {
  padding-right: inherit;
  vertical-align: top;
}

#subpage #content .wrapper table tr {
  display: inline-table;
  width: 100%;
  table-layout: fixed;
}

@media (max-width: 768px) {
  #subpage #content .wrapper table tr {
    display: block;
  }
}

#subpage #content .wrapper table td {
  max-width: 47.5%;
}

@media (max-width: 768px) {
  #subpage #content .wrapper table td {
    float: left;
    clear: both;
    width: 100%;
    height: auto;
    max-width: 100%;
  }
}

#subpage #content .wrapper h2 {
  font-family: "brandon-grotesque", sans-serif;
  font-weight: 600;
  font-size: 40px;
  line-height: 50px;
}

@media (max-width: 1700px) {
  #subpage #content .wrapper h2 {
    font-size: 36px;
  }
}

@media (max-width: 1365px) {
  #subpage #content .wrapper h2 {
    font-size: 33px;
  }
}

@media (max-width: 1024px) {
  #subpage #content .wrapper h2 {
    font-size: 30px;
  }
}

@media (max-width: 768px) {
  #subpage #content .wrapper h2 {
    font-size: 30px;
  }
}

#subpage #content .wrapper h3 {
  font-family: "brandon-grotesque", sans-serif;
  font-weight: 400;
  font-size: 38px;
  line-height: 50px;
}

@media (max-width: 1700px) {
  #subpage #content .wrapper h3 {
    font-size: 35px;
  }
}

@media (max-width: 1365px) {
  #subpage #content .wrapper h3 {
    font-size: 30px;
  }
}

@media (max-width: 1024px) {
  #subpage #content .wrapper h3 {
    font-size: 25px;
  }
}

@media (max-width: 768px) {
  #subpage #content .wrapper h3 {
    font-size: 25px;
  }
}

#subpage #content .wrapper h4 {
  font-family: "brandon-grotesque", sans-serif;
  font-weight: 500;
  font-size: 27px;
  line-height: 40px;
  text-transform: uppercase;
}

@media (max-width: 1700px) {
  #subpage #content .wrapper h4 {
    font-size: 24px;
  }
}

@media (max-width: 1365px) {
  #subpage #content .wrapper h4 {
    font-size: 23px;
  }
}

@media (max-width: 1024px) {
  #subpage #content .wrapper h4 {
    font-size: 21px;
  }
}

@media (max-width: 768px) {
  #subpage #content .wrapper h4 {
    font-size: 21px;
  }
}

#subpage #content .wrapper h5 {
  font-family: "brandon-grotesque", sans-serif;
  font-weight: 600;
  font-size: 21px;
  line-height: 40px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

@media (max-width: 1700px) {
  #subpage #content .wrapper h5 {
    font-size: 20px;
  }
}

@media (max-width: 1365px) {
  #subpage #content .wrapper h5 {
    font-size: 20px;
  }
}

@media (max-width: 1024px) {
  #subpage #content .wrapper h5 {
    font-size: 18px;
  }
}

@media (max-width: 768px) {
  #subpage #content .wrapper h5 {
    font-size: 18px;
  }
}

#subpage #content .wrapper h6 {
  font-family: "brandon-grotesque", sans-serif;
  font-weight: 200;
  font-size: 25px;
  line-height: 41px;
}

@media (max-width: 1700px) {
  #subpage #content .wrapper h6 {
    font-size: 24px;
  }
}

@media (max-width: 1365px) {
  #subpage #content .wrapper h6 {
    font-size: 22px;
  }
}

@media (max-width: 1024px) {
  #subpage #content .wrapper h6 {
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  #subpage #content .wrapper h6 {
    font-size: 20px;
    line-height: 39px;
  }
}

#subpage #content .wrapper blockquote {
  font-family: "brandon-grotesque", serif;
  font-weight: 200;
  font-size: 19px;
  line-height: 28px;
  font-style: italic;
  padding: 31px 38px 0px 38px;
  margin-bottom: 20px;
}

@media (max-width: 1024px) {
  #subpage #content .wrapper blockquote {
    font-size: 17px;
    line-height: 30px;
  }
}

#subpage #content .wrapper #giving-form input {
  border-radius: 4px;
  width: 160px;
  padding: 3px;
}

#subpage #content .wrapper #giving-form input+input {
  margin-left: 10px;
}

@media (max-width: 768px) {
  #subpage #content .wrapper #giving-form input+input {
    margin: 0 auto 12px auto;
  }
}

@media (max-width: 768px) {
  #subpage #content .wrapper #giving-form input {
    width: 90%;
    display: block;
    position: relative;
    margin: 0 auto 12px auto;
    padding: 6px 0px;
  }
}

#subpage #content .wrapper #giving-form input[type="text"] {
  text-align: center;
}

div#OpenLayers_Control_Attribution_7 {
  bottom: 0;
  right: 50px;
}

header .nav-wrapper.full ul#nav li:focus>ul {
  display: block;
}

header .nav-wrapper.full ul#nav li:active>ul {
  display: block;
}

ul#nav li:focus-within>ul,
ul#nav li a:focus-within>ul {
  display: block !important;
}

#nav>li:last-child li ul {
  /* display: none !important; */
  left: -94% !important;
  right: unset !important;
}

#home .rotator .slick-dots {
  bottom: 0;
  margin-bottom: 20px;
}

#home .rotator .slick-next {
  right: 0;
  margin-right: 4vw;
  z-index: 9;
}

#home .rotator .slick-next:hover {
  opacity: 0.6;
}

#home .rotator .slick-prev {
  left: 0;
  margin-left: 4vw;
  z-index: 9;
}

#home .rotator .slick-prev:hover {
  opacity: 0.6;
}

#subpage #content .wrapper ul.staff-list {
  position: relative;
  width: 100%;
  display: none;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: start;
  justify-items: center;
}

#subpage #content .wrapper ul.staff-list.show-grid {
  display: grid;
}

@media (max-width: 1024px) {
  #subpage #content .wrapper ul.staff-list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 868px) {
  #subpage #content .wrapper ul.staff-list {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 650px) {
  #subpage #content .wrapper ul.staff-list {
    grid-template-columns: 1fr;
  }
}

#subpage #content .wrapper ul.staff-list li {
  width: 83%;
  display: inline-block;
  position: relative;
  padding: 0 0 31px 0;
  margin: 0;
  text-align: center;
}

@media (max-width: 768px) {
  #subpage #content .wrapper ul.staff-list li {
    width: 75%;
  }
}

#subpage #content .wrapper ul.staff-list li img {
  width: 100%;
  height: auto;
}

#subpage #content .wrapper ul.staff-list li h3, #subpage #content .wrapper ul.staff-list li h4 {
  display: block;
  position: relative;
  font-family: "brandon-grotesque", sans-serif;
  font-weight: 600;
  padding: 0;
  margin: 0;
}

#subpage #content .wrapper ul.staff-list li h3 {
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  text-transform: none;
}

#subpage #content .wrapper ul.staff-list li h4 {
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
}

#subpage #content .wrapper ul.staff-list li a:hover h3 {
  text-decoration: underline;
}

body .post-share-under .twitter-share-button {
  position: relative !important;
  top: 0;
  vertical-align: top;
}

.media {
  padding: 60px 0 30px 0;
  margin: 0 auto;
  width: 90%;
}

@media (max-width: 1024px) {
  .media {
    padding-top: 45px;
  }
}

@media (max-width: 768px) {
  .media {
    padding-top: 35px;
  }
}

.media .media-top {
  margin-bottom: 45px;
}

.media .media-top:after {
  content: "";
  display: table;
  clear: both;
}

@media (max-width: 768px) {
  .media .media-top {
    margin-bottom: 25px;
  }
}

.media .media-title {
  font-family: "brandon-grotesque", sans-serif;
  font-weight: 600;
  width: 64%;
  font-size: 45px;
  float: left;
}

@media (max-width: 1024px) {
  .media .media-title {
    width: 58%;
  }
}

@media (max-width: 768px) {
  .media .media-title {
    width: 100%;
    font-size: 31px;
  }
}

.media .hidden-title {
  display: none;
}

.media .tabset {
  list-style-type: none;
  float: right;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

@media (max-width: 1024px) {
  .media .tabset {
    float: left;
    margin: 45px 0 25px 0;
  }
}

@media (max-width: 768px) {
  .media .tabset {
    margin-top: 30px;
    width: 100%;
  }
}

.media .tabset li {
  display: inline;
  float: left;
}

.media .tabset li span {
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -ms-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
  font-family: "brandon-grotesque", sans-serif;
  font-weight: 400;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-appearance: none;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  font-size: 16px;
  padding: 15px 20px;
  display: inline-block;
}

@media (max-width: 768px) {
  .media .tabset li span {
    width: 100%;
    padding: 15px 0;
    text-align: center;
  }
}

.media .tabset li:first-child span {
  -webkit-border-radius: 2px 0 0 2px;
  -moz-border-radius: 2px 0 0 2px;
  -ms-border-radius: 2px 0 0 2px;
  -o-border-radius: 2px 0 0 2px;
  border-radius: 2px 0 0 2px;
}

.media .tabset li:last-child span {
  -webkit-border-radius: 0 2px 2px 0;
  -moz-border-radius: 0 2px 2px 0;
  -ms-border-radius: 0 2px 2px 0;
  -o-border-radius: 0 2px 2px 0;
  border-radius: 0 2px 2px 0;
}

.pagination {
  width: 100%;
  margin: 30px 0 10px 0;
  text-align: center;
}

.pagination a {
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -ms-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
  font-family: "brandon-grotesque", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 40px;
  letter-spacing: 1px;
  display: inline-block;
  position: relative;
  padding: 0 15px;
  height: 40px;
}

@media (max-width: 768px) {
  .pagination a {
    display: none;
  }
}

.pagination a.next {
  padding-right: 30px;
}

@media (max-width: 768px) {
  .pagination a.next {
    display: inline-block;
  }
}

.pagination a.previous {
  padding-left: 30px;
}

@media (max-width: 768px) {
  .pagination a.previous {
    display: inline-block;
  }
}

.pagination a:first-child {
  -webkit-border-radius: 5px 0 0 5px;
  -moz-border-radius: 5px 0 0 5px;
  -ms-border-radius: 5px 0 0 5px;
  -o-border-radius: 5px 0 0 5px;
  border-radius: 5px 0 0 5px;
}

.pagination a:last-child {
  -webkit-border-radius: 0 5px 5px 0;
  -moz-border-radius: 0 5px 5px 0;
  -ms-border-radius: 0 5px 5px 0;
  -o-border-radius: 0 5px 5px 0;
  border-radius: 0 5px 5px 0;
}

.pagination a:first-child:last-child {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

@media (max-width: 768px) {
  .pagination a:first-child, .pagination a:last-child {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
  }
}